body{
    font-family: Arial, Helvetica, sans-serif;;
    margin: 0;
    background: #fff;
    padding: 0px;
}

.header-container{
    background: #CC0033;;
    color: white;
    padding: 5px;
    width: 100%;
}

#header-text{
    margin-left: 20px;
}

#main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.subpage{
    margin-left: 40px;
    margin-right: auto;
    display: none;
}

.contents {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputfield{
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    height: 25px;
    width: 170px;
    font-size: 16px;
}

button{
    width: 120px;
    margin: 10px 2px 10px 2px;
    padding: 5px;
}

.class-btn{
    height: 30px;
    width: 120px;
    margin: 10px 2px 10px 2px;
}

.assignment-btn{
    height: 30px;
    width: 140px;
    margin: 10px 2px 10px 2px;
}

.year-area{
    display: flex;
}

.new-year{
    margin: 0px 20px 0px 20px;
}

.tab-bar{
    background-color: #f1f1f1;
    width: 200px;
    padding: 10px 10px 10px 10px;
}

.tab{
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

