body{
    margin: 0;
    background: #fff;
    padding: 0px;
}

#add-semester-page{
    margin-left: 40px;
    margin-right: auto;
    display: none;
}

#header-text{
    margin-left: 20px;
}

.header-container{
    background: #CC0033;;
    color: white;
    padding: 5px;
    width: 100%;
}

.semester-calc {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputfield{
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    height: 25px;
    width: 170px;
    font-size: 16px;
}

button{
    height: 30px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.semester-calc:nth-child(-n + 3){
    display: inline;
}



