body{
    margin: 0;
    background: #fff;
    padding: 0px;
}

#header-text{
    margin-left: 20px;
}


#main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.subpage{
    margin-left: 40px;
    margin-right: auto;
    display: none;
}

.header-container{
    background: #CC0033;;
    color: white;
    padding: 5px;
    width: 100%;
}

.contents {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputfield{
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    height: 25px;
    width: 170px;
    font-size: 16px;
}

button{
    height: 30px;
    width: 120px;
    margin: 10px 2px 10px 2px;
}

.button-container{
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;

}



